<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Attendance Report</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Classes</th>
                <th>Present Days</th>
                <th>Attendance Rate (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for record in report %}
            <tr>
                <td>{{ record.first_name }}</td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.total_attendance }}</td>
                <td>{{ record.present_days }}</td>
                <td>{{record.attendance_rate}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
